<ion-view view-title="The Cameroon Hymnal">
  <ion-content class="padding" style="max-width: 450px; margin: 0% auto;">
      <img style="width: 100%; margin: 18px auto;" src="img/main.png">
      <center>

		<button align="center" ng-click="shareAnywhere()" class="button button-positive icon ion-android-share-alt">
			Share
		</button>
		<button align="center" class="button button-outline button-positive icon ion-ios-information-outline">
			About
		</button>

	
</center>
      
  </ion-content>
</ion-view>
